<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/styles-2.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/menuFoodDetail.css">
    <link rel="stylesheet" href="/css/loginAccounts.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/nearbyVans.css">
    <link rel="stylesheet" href="/css/customerOrders.css">
    <link rel="stylesheet" href="/css/vendorOrders.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
</head>
<body>
    {{{body}}}
</body>
</html>